:root {
    --theme-primary: #E60005;
    --theme-secondary: #0F0F0F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    text-decoration: none;
}

/* .btn {
    border-radius: 25px;
} */

.btn-primary {
    background-color: var(--theme-primary);
    border-color: var(--theme-primary);
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #ffffff;
    border-color: var(--theme-primary);
    color: var(--theme-primary);
}

.btn-secondary {
    background-color: #ffffff;
    border-color: var(--theme-primary);
    color: var(--theme-primary);
}

.btn-secondary:hover {
    background-color: var(--theme-primary);
    border-color: var(--theme-primary);
    color: #ffffff;
}
