.sidebar-section {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10px;
    width: 250px;
    height: 100vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    z-index: 2000;
}

.sidebar-section a {
    color: #000000;
}